.container {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
}

.imgs {
  display: flex;
  justify-content: space-between;
  gap: 30px
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  gap: 30px;
}

.question {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.answer {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #D1D5DD;
}

.bold {
  font-weight: 600;
}

.p {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.point {
  font-size: 32px;
  letter-spacing: -0.08em;
  line-height: 48px;
}

.yellow {
  font-weight: 600;
  color: #FBB03B;
}

button {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 100rem;
  cursor: pointer;
  font-weight: 500;
  gap: 10px;
  background: transparent;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  padding: 16px;
  transition: all 0.8s;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 20px;
}

.read {
  border: none;
  padding: 15px;
  display: flex;
  border: 1px solid transparent;
}

.read::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background: #ed1e79;
  z-index: -1;
  transition: 0.8s;
  border-radius: 0 0 50% 50%;
}

.read:hover::before {
  height: 0%;
}

.read:hover {
  color: #ed1e79;
  border-color: #ed1e79;
}

.browse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #ed1e79;
  z-index: -1;
  transition: 0.8s;
  border-radius: 0 0 50% 50%;
}

.browse:hover {
  border-color: black;
  color: black;
}

.browse:hover::before {
  height: 180%;
}

@media (max-width: 1200px) {
  .imgs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .p {
    margin: auto;
  }
  .point {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
}