<div class="container">
  <div class="imgs">
    <div class="text">
      <p class="question">How does it work?</p>
      <p class="answer">
        The total AOVR supply is inflated with an additional 3% every year. The
        total <span class="bold">AOVR</span> supply is inflated with an
        additional 3% every year. This inflation happens in weekly increments,
        paid out to everyone in the community with staked AOVR tokens at the
        time of payout and proportional to the amount staked. <br /><br />All
        staked tokens are held by the <span class="bold">AOVR</span> Staking
        treasury, with is controled by the <span class="bold">DAO</span> and
        therefore secured against malicious behavior by the
        <span class="bold">ALLOVR</span> community.
      </p>
    </div>
    <div class="photo">
      <img src="../../../assets/how-illustration.png" />
    </div>
  </div>
  <div class="p">
    <p class="point">
      - An on-chain register of staking pools is
      <span class="yellow">maintained publicly</span> and
      <span class="yellow">transparently</span>, keeping reords of correct
      inflation distribution over all eligible accounts and
      <span class="yellow">outsanting payments</span> per staking slot.
    </p>
    <div class="buttons">
      <button class="read">
        READ TECHNICAL DESCRIPTION
        <ng-icon name="lucideArrowUpRight" size="20"></ng-icon>
      </button>
      <button class="browse">BROWSE STAKING POOLS</button>
    </div>
  </div>
</div>
