<div class="background"></div>
<div class="container">
  <div class="info">
    <div class="text">
      <p class="heading">Staking pools</p>
      <p class="explanation">
        Browse <span class="bold">ALLOVR’s</span> 100% transparent staking
        pools. Select a pool to stake your
        <span class="bold">ALLOVR</span> tokens or get assigned one randomly by
        hitting
        <span class="bold" style="color: #fbb03b">Stake AOVR now.</span> note
        that all staking pools work the same and
      </p>
      <p class="choice">- earn the same there is no good or bad choice here</p>
    </div>
    <div class="buttons">
      <button class="trigger">TRIGGER INFLATION RUN</button>
      <button class="register">REGISTER POOL</button>
    </div>
  </div>
  <div class="data">
    <div class="cards"></div>
    <button class="loadmore"></button>
  </div>
</div>
