button {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 100rem;
  cursor: pointer;
  font-weight: 500;
  gap: 10px;
  background: transparent;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.cal {
  font-size: 20px;
  font-weight: 400;
  color: #d1d5dd;
  margin-top: 30px;
}

.value {
  font-size: 48px;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 10px;
}

span {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #d1d5dd;
}

.time {
  display: flex;
  gap: 20px;
}

.border {
  align-self: center;
  border: 13rem solid #101014;
  border-radius: 1rem;
  margin-top: -60px;
  z-index: -2;
}

.first {
  background-color: #101014;
  text-align: center;
  font-size: 64px;
  padding: 30px 0;
  color: #303038;
  font-weight: 600;
  min-width: 350px;
}

.buttons {
  margin-top: 35px;
  gap: 20px;
  display: flex;
  font-size: 16px;
}

.stake {
  background: linear-gradient(90deg, #ed1e79 0%, #fbb03b 100%);
  border: none;
  padding: 15px;
  display: flex;
}
