<div class="container">
  <div class="header">
    <img src="../../../assets/logo.png" />
    <div class="links">
      <a>About</a>
      <a>How it Works</a>
      <a>Staking</a>
      <button class="connect">
        <img style="cursor: pointer" src="../../../assets/phantom.png" />
        <p class="wallet">CONNECT PHANTOM WALLET</p>
      </button>
    </div>
  </div>
  <div class="main">
    <div class="info">
      <div class="stake">Stake <span>ALLOVR.</span></div>
      <div class="text">
        This is the best time to get the earnings you dreame of.
      </div>
      <button class="scroll">SCROLL DOWN <ng-icon name="lucideArrowDownRight" size="20"/></button>
    </div>
    <div class="image"><img src="../../../assets/hero-illustration.png" /></div>
  </div>
</div>
<div class="background"></div>
