<div class="container">
  <div class="details">
    <div class="img">
      <img src="../../../assets/staking-illustration.png" />
    </div>
    <div class="text">
      <div class="question">What is Staking?</div>
      <div class="answer">
        Staking is when you lock AOVR tokens over a certain time span. In
        return, you receive a share of the weekly minted new
        <span class="span1">AOVR</span> tokens. While your tokens, are staked
        you cannot send them to other wallets cast votes wihte them in the
        <span class="span1">ALLOVR DAO</span> or make use of any other utility
        the tokens hold. However, it is completely up to you how many tokens if
        any you’d like to stake.
      </div>
    </div>
  </div>
  <div class="tokens">
    - The number of <span class="span2">tokens</span> you gain from the weekly
    minted supply is proportional to the size of your stake compared to those of
    all others. The minimum staking period is oane wee after that you can
    withdraw your tokens <span class="span2">plus your earned interest</span> at
    any time.
  </div>
  <div class="shadow">
    <div class="detail">Start your action now!</div>
    <div class="buttons">
      <button class="stake">
        STAKE AOVR NOW <ng-icon name="lucideArrowDownRight"></ng-icon>
      </button>
      <button class="withdraw">WITHDRAW AOVR</button>
    </div>
  </div>
</div>
